.requests__content{
  background-color: rgb(24, 23, 23);
  margin: 0;
  padding: 0px;
  min-height: 380px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b3b3b3;
}

.requests__content h1 {
  font-size: 24px;
}

.requests__content ul{
  margin-top: 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.requests__content ul li{
  margin: 20px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.requests__content ul li a{
  color: #b3b3b3;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
.requests__content ul li a:hover{
  cursor: auto;
}
.requests__content .icon{
  font-size: 20px;
}