.requests{
  background-color: rgb(24, 23, 23);
  margin-top: 10px;
  padding: 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
}

.requests__logo{
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
}

.icon{
  font-size: 20px;
}

.requests__content{
  margin-top: 10px;
  min-height: 290px;
}

.requests__content ul{
  margin-top: 0px;
  padding: 0 20px 10px 0px;
}

.requests__content ul li{
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.requests__content ul li a{
  display: flex;
  align-items: center;
  gap: 10px;
}

.requests__content .icon{
  font-size: 20px;
}

.address{
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}