footer {
  margin: 20px 10px 0px 270px;
  padding: 20px;
  background-color: rgb(24, 23, 24);
  color: #b3b3b3;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

footer div {
  margin: 0px 20px;
  padding: 0px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer div h1 {
  font-size: 26px;
  text-align: center;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer .requests__content {
  margin: 0px 20px;
  padding: 0px 20px;
  min-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .requests__content h1 {
  font-size: 26px;
  padding-bottom: 10px;
}

footer .requests__content ul {
  margin: 0px;
  padding: 0px;
}

footer .requests__content ul li {
  margin: 10px 20px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

footer div ul li {
  margin: 20px 10px;
  padding: 0px;
  list-style-type: none;

}
footer a , footer .requests__content ul li a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 300;
  color: #b3b3b3;
  text-decoration: none;
  text-align: center;
}