body{
  background-color: black;
}

.App{
  text-align: center;
}
.content{
  margin: 10px 10px 0px 270px;
  min-height: 605px;
  background-color: rgb(24, 23, 24);
  color: #b3b3b3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form h1{
  font-size: 30px;
  color: #b3b3b3;
  font-family: sans-serif;
  font-weight: 700;
}

form p{
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 600;
}
form .errors {
  width: 100%;
}

form .errors p {
  background-color: rgb(218, 85, 85);
  margin-top: 0px;
  padding: 10px;
  width: 95%;
  font-size: 14px;
  color: #000;
  border-radius: 20px;
}

.success {
  width: 100%;
}

.success p {
  background-color: #28a745;
  margin-top: 0px;
  padding: 10px;
  width: 95%;
  font-size: 14px;
  color: #000;
  border-radius: 20px;
}

.input-field{
  position: relative;
  margin: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field input{
  width: 100%;
  height: 100%;
  background-color: #b3b3b3;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 10px 15px;
}

.input-field input::placeholder {
  color: #000;
}

.input-field .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #000;
}

.content-admin-error {
  margin: 10px 10px 0px 270px;
  min-height: 605px;
  background-color: rgb(24, 23, 24);
  color: #b3b3b3;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-admin-error a {
  margin: 20px;
  padding: 10px 20px;
  background-color: #b3b3b3;
  color: #000;
  border: none;
  border-radius: 20px;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  text-shadow: none;
  text-decoration: none;
}