.Login{
  margin: 10px 10px 0px 270px;
  padding: 0px;
  min-height: 605px;
  border-radius: 20px;
  background-color: rgb(24, 23, 23);
  color: #b3b3b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login form{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login form h1{
  font-size: 30px;
  color: #b3b3b3;
  font-family: sans-serif;
  font-weight: 700;
}

.Login form .success {
  width: 100%;
}

.Login form .success p {
  background-color: #28a745;
  margin-top: 0px;
  padding: 10px;
  width: 95%;
  font-size: 14px;
  color: #000;
  border-radius: 20px;
}

.Login form button {
  margin: 10px;
  width: 50%;
  height: 40px;
  background-color: #b3b3b3;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-shadow: none;
}

.Login .logout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout h2{
  font-size: 30px;
  color: #b3b3b3;
  font-family: sans-serif;
  font-weight: 700;
}

.logout button {
  margin: 10px;
  width: 50%;
  height: 40px;
  background-color: #b3b3b3;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-shadow: none;
}